<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
    <head>
        <link href="http://gmpg.org/xfn/11" rel="profile">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    </head>
    <body>
        {{ block "page" . }}
        <div style="float: left;">
            <h1>{{ .Title }}&nbsp;<a href="{{ .Permalink }}" style="font-size: 0.5em;">permalink</a></h1>
            <h2>{{ .Param "description" | markdownify }}</h2>

            <a href="https://discourse.gohugo.io/t/baseurl-path-subdir-sometimes-ignored-by-relurl-absurl/11512/1">Discussion</a>

            <hr />
            {{ partial "comparison.html" . }}
        </div>

        {{ $baseURL_minus_subdir := .Site.BaseURL | replaceRE "^(.*//[^/]+/).*" "${1}" }}
        {{ $other_subdir := printf "%ssubdir-canonify-false/" $baseURL_minus_subdir }}
        {{/* $other_subdir := printf "%ssubdir-canonify-false/" "https://hugo-sandbox.netlify.com/" */}}

        <div style="float: right;">
            {{ block "iframe" . }}{{ end }}
        </div>

        <div style="clear: both;"></div>

        <p>
            For testing locally, you can run <code>hugo server -b localhost/foo/ --navigateToChanged</code>.
        </p>

        <hr />
        {{ printf `<a href="%s">Home</a>` .Site.BaseURL | safeHTML }}
        | {{ printf `<a href="%s">Hugo Sandbox</a>` $baseURL_minus_subdir | safeHTML }}
        | {{ printf `<a href="%s">Subdir baseURL test site with <code>canonifyURLs</code> set to <code>false</code></a>` $other_subdir | safeHTML }}
{{ end }}

{{ block "extra" . }}{{ end }}
    </body>
</html>
