{{ define "iframe" }}
{{ $post_in_other_subdir := printf "%sposts/post-1/" (.Site.BaseURL | replaceRE "true" "false") }}
<iframe src='{{ $post_in_other_subdir }}' width="700" height="800"></iframe>
{{ end }}

{{ define "extra" }}
<p>
    <code>single.html</code> layout
</p>
<p>
    {{ .Content }}
</p>
{{ end }}
